<div class="content">
    <h2>Education</h2>
    <div class="row">
        <div class="col-sm mt-2 mt-md-0">
            <img class="school-icon" src="{{ '/assets/img/schools/cmu.png' | relative_url }}" alt="" title="example image" />
            <div class="left">
                <p style="font-size:1w">

                    <b style="font-size:1vw">Carnegie Mellon University</b>
                    <br>
                    <a style="font-size:0.6vw">Research M.S in Robotics</a>
                    <br>
                    <a style="font-size:0.6vw">School of Computer Science</a>
                    <br>
                    <a style="font-size:0.6vw">Aug 2019-Aug 2021</a>
                </p>
            </div>
        </div>
        <div class="col-sm mt-2 mt-md-0">
            <img class="school-icon" src="{{ '/assets/img/schools/penn.png' | relative_url }}" alt="" title="example image" />
            <div class="left">
                <p style="font-size:1w">
                    <b style="font-size:1vw">University of Pennsylvania</b>
                    <br>
                    <a style="font-size:0.6vw">B.S.E in Computer Science</a>
                    <br>
                    <a style="font-size:0.6vw">School of Engineering and Applied Science</a>
                    <br>
                    <a style="font-size:0.6vw">Aug 2015-May 2019</a>

                </p>

            </div>
        </div>
    </div>
</div>