<div class="content">
    <h2>Education</h2>
    <div class="row">
        <div class="col-sm mt-2 mt-md-0">
            <img class="school-icon" src="{{ '/assets/img/schools/cmu.png' | relative_url }}" alt="" title="example image" />
            <div class="left">
                <p style="font-size:1w">
                    <a style="font-size:1vw">M.S in Robotics</a>
                    <br>
                    <a style="font-size:1vw">School of Computer Science</a>
                    <br>
                    <a style="font-size:1vw">Aug 2020-Aug 2022</a>
                </p>
            </div>
        </div>
        <div class="col-sm mt-2 mt-md-0">
            <img class="school-icon" src="{{ '/assets/img/schools/yale.png' | relative_url }}" alt="" title="example image" />
            <div class="left">
                <p style="font-size:1w">
                    <a style="font-size:1vw">B.S. in Engineering</a>
                    <br>
                    <a style="font-size:1vw">School of Engineering and Applied Science</a>
                    <br>
                    <a style="font-size:1vw">Aug 2013-May 2017</a>

                </p>

            </div>
        </div>
    </div>
</div>