<div class="content">
    <h2>Education</h2>
    <div class="row">
        <div class="col-sm mt-2 mt-md-0">
            <img class="school_icon" src="{{ '/assets/img/schools/penn.png' | relative_url }}" alt="" title="example image"/>
            <div class="caption">
                <b><p>University of Pennsylvania </p></b>
                <p>B.S.E in Computer Science</p>
                <p>Aug 2015-May 2019</p>
                
            </div>
        </div>
        
        <div class="col-sm mt-2 mt-md-0">
            <img class="school_icon" src="{{ '/assets/img/schools/cmu.png' | relative_url }}" alt="" title="example image"/>
            <div class="caption">
                <b><p>Carnegie Mellon University</p></b>
                <p>M.S in Robotics</p>
                <p>Aug 2019-Present</p>
            </div>
        </div>
    </div>
</div>