<div class="content">
    <h2>Education</h2>
    <div class="row">
        <div class="col-sm mt-2 mt-md-0">
            <img class="school-icon" src="{{ '/assets/img/schools/cmu.png' | relative_url }}" alt="" title="example image" />
            <div class="left">
                <p>

                    <b style="font-size:1vw">Carnegie Mellon University</b>
                    <br> Research M.S in Robotics, Robotics Institute, School of Computer Science
                    <br> Aug 2019-Aug 2021
                </p>
            </div>
        </div>
        <div class="col-sm mt-2 mt-md-0">
            <img class="school-icon" src="{{ '/assets/img/schools/penn.png' | relative_url }}" alt="" title="example image" />
            <div class="left">
                <p>
                    <b style="font-size:1vw">University of Pennsylvania</b>
                    <br> B.S.E in Computer Science, School of Engineering and Applied Science
                    <br> Aug 2015-May 2019

                </p>

            </div>
        </div>
    </div>
</div>