<div class='border_block'>
    <h2>Industry Experience  </h2>
    
    {% for job in site.data.industry.internships %}
    <div class="list-entry">
        
        {% if job.image %}
            <img class="company-icon" src="{{ job.image | prepend: '/assets/img/' | relative_url }}" />
            
        {% endif %}
            <ul class="item-info">
                <li> <b><a style="font-size:20px"  >{{ job.title }}</a></b></li>
                <li> {{ job.company}}</li>
                <li style="font-size:15px"> {{ job.team}}</li>
                <li style="font-size:15px"> {{ job.time}}</li>
            </ul>
        </div>
    {% endfor %}

</div>

<p>---</p>

