/******************************************************************************
 * Content
 ******************************************************************************/

body {
    padding-bottom: 70px;
    color: $text-color;
}

body.fixed-top-nav {
    // Add some padding for the nav-bar.
    padding-top: 56px;
}

body.sticky-bottom-footer {
    // Remove padding below footer.
    padding-bottom: 0;
}

.container {
    max-width: $max-content-width;
}

// Profile
.profile {
    img {
        width: 100%;
    }
}

/******************************************************************************
 * Projects
 ******************************************************************************/

 .logo {
    float: left;
    margin-right: 20px;
    padding-bottom: 15px;
    width: 120px;
}

.about {
    .post-title {
        padding-top: 20px;
    }
    .post-description {
        font-size: 20px;
    }
}

.instructors {
    padding: 0 0 0 1%;
}

.paper-entry {
    margin-top: 30px;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    @media screen and (min-width: 676px) {
        height: 100%;
    }
    img {
        float: left;
        object-fit: cover;
        height: auto; 
        width: auto; 
        max-width: 200px; 
        max-height: 150px;
        // height: 150px;
        // width: 200px;
        margin-right: 10px;
    }
    ul.paper-info {
        display: block;
        float: left;
        list-style-type: none;
        padding-left: 0;
        width: 70%;
        // width: -webkit-calc(100% - 130px);
        // width: calc(100% - 130px);
        min-width: 210px;
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            font-weight: 400;
        }
    }
}

// .paper-entry-two-col {
//     @extend .paper-entry;
//     width: 50%;
// }

// .paper-entry-three-col {
//     @extend .paper-entry;
//     width: 33%;
// }

 
.list-entry {
    margin-top: 15px;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    @media screen and (min-width: 676px) {
        height: 100%;
    }
    img {
        float: left;
        object-fit: cover;
        height: auto; 
        width: auto; 
        max-width: 80px; 
        max-height: 80px;
        margin-right: 20px;
    }
    ul.item-info {
        display: block;
        float: left;
        list-style-type: none;
        padding-left: 0;
        width: 60%;
        // width: -webkit-calc(100% - 130px);
        // width: calc(100% - 130px);
        min-width: 210px;
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            font-weight: 400;
        }
    }
}

.school-icon{
        border-radius: 20%;
        float: left;
        object-fit: cover;
        height: 100px;
        width: 100px;
        margin-right: 10px;
}

.company-icon{
    border-radius: 20%;
    object-fit: cover;
    height: 50px;
    width: 50px;
    margin-right: 0px;
}

.content {
    margin-top: 30px;
    padding-top: 20px;
    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.news {
    margin-top: 30px;
    padding-top: 20px;
    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        .date {
            width: 19%;
        }
        .announcement {
            width: 81%;
        }
        tr {
            text-align: left;
        }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}