/******************************************************************************
 * Content
 ******************************************************************************/

body {
    padding-bottom: 70px;
    color: $text-color;
}

body.fixed-top-nav {
    // Add some padding for the nav-bar.
    padding-top: 56px;
}

body.sticky-bottom-footer {
    // Remove padding below footer.
    padding-bottom: 0;
}

.container {
    max-width: $max-content-width;
}

// Profile
.profile {
    img {
        width: 100%;
    }
}

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.