---
layout: default
---
<!-- <a style="font-size:30px">[Page still under construction]</a> -->
<div class="post">

  <header style="font-size:30px">
    {% assign name = site.title | split: ' ' %}
    {% assign firstname = name | first %}
    {% if name.size > 2 %}
       {% assign middlenames =  name | slice:1, name.size-1 | join:" " %}
    {% else %}
       {% assign middlenames = '' %}
    {% endif %}
    {% assign lastname = name | last %}
     <span class="font-weight-bold">{{ firstname }}{{ middlenames }}  {{ lastname }}</span> 
  </header>

  <article>
    <div class="row">
      <div class="col" align="justify">
        {{ content }}
      </div>
        {% if page.profile %}
        <div class="profile col-4 {% if page.profile.align == 'left' %}order-first{% endif %}">
          {% if page.profile.image %}
            <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
          {% endif %}
          {% if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
          {% endif %}
        </div>
        {% endif %}
    </div>
    
    <hr>
    {% include education.html %}

    <!-- <hr> -->
    <!-- {% if page.news %}
      {% include news.html %}
    {% endif %} -->

    <hr>
    {% include publications.html %}
    <hr>
    {% include projects.html %}
    <hr>

    {% include industry.html %}
    <!-- <hr> -->
    <!-- {% include teaching.html %} -->

  </article>

  <br>
  <br>
  <br>
    <p>---</p>
<!-- <div class="social">
    {% include social.html %}
    <div class="contact-note">{{ site.contact_note }}</div>
</div> -->
<hr>
<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=vD62JnCtt0hC11vkV7CpIbFJSX1uUWKg3cSNPpH3Hys"></script>
</div>
